<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <input
                  type="text"
                  [(ngModel)]="address"
                  pattern="0x[a-zA-Z0-9]{40}"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter your address"
                  required
                  #name="ngModel"
                />
              </li>
              <li class="list-inline-item">
                <button
                  type="submit"
                  [disabled]="!addressForm.form.valid"
                  class="btn btn-info"
                >
                  Submit
                </button>
              </li>
            </ul>
          </form>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <ng-container *ngIf="ethBalance$ | async as ethBalance">
                <span style="color: white">Dein ETH-Guthaben beträgt {{ ethBalance.normalizedValue }}</span>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="erc20Balances$ | async as erc20Balances">
                <tr *ngFor="let balance of erc20Balances">
                  <td>{{ balance.assetName }}</td>
                  <td>{{ balance.assetSymbol }}</td>
                  <td>{{ balance.normalizedValue }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
