<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <input
                  type="text"
                  [(ngModel)]="address"
                  pattern="0x[a-zA-Z0-9]{40}"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter your address"
                  required
                  #name="ngModel"
                />
              </li>
              <li class="list-inline-item">
                <button
                  type="submit"
                  [disabled]="!addressForm.form.valid"
                  class="btn btn-info"
                >
                  Submit
                </button>
              </li>
            </ul>
          </form>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <span>
                <select
                  (ngModelChange)="filterType($event)"
                  ngModel="ALL"
                  name="balanceType"
                  class="btn btn-info"
                  style="height: 32.91px"
                >
                  <option value="ALL">ALL</option>
                  <option value="ETH">ETH</option>
                  <option value="ERC20">ERC20</option>
                </select>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let balance of allBalances">
                <td>{{ balance.assetName }}</td>
                <td>{{ balance.assetSymbol }}</td>
                <td>{{ balance.normalizedValue }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
